<h1>Editing suppliers</h1>

<%= error_messages_for :suppliers %>

<% form_for(@suppliers) do |f| %>
  <p>
    <b>Supplierid</b><br />
    <%= f.text_field :supplierID %>
  </p>

  <p>
    <b>Suppliername</b><br />
    <%= f.text_field :supplierName %>
  </p>

  <p>
    <b>Address</b><br />
    <%= f.text_field :address %>
  </p>

  <p>
    <b>Email</b><br />
    <%= f.text_field :email %>
  </p>

  <p>
    <b>Phone</b><br />
    <%= f.text_field :phone %>
  </p>

  <p>
    <b>Fax</b><br />
    <%= f.text_field :fax %>
  </p>

  <p>
    <b>Website</b><br />
    <%= f.text_field :website %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @suppliers %> |
<%= link_to 'Back', suppliers_path %>
