<h1>New categories</h1>

<%= error_messages_for :categories %>

<% form_for(@categories) do |f| %>
  <p>
    <b>Dairy</b><br />
    <%= f.text_field :dairy %>
  </p>

  <p>
    <b>Vegetables</b><br />
    <%= f.text_field :vegetables %>
  </p>

  <p>
    <b>Fruits</b><br />
    <%= f.text_field :fruits %>
  </p>

  <p>
    <b>Meat</b><br />
    <%= f.text_field :meat %>
  </p>

  <p>
    <b>Others</b><br />
    <%= f.text_field :others %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', categories_path %>
